*.pdf                                                                                                                                                                                     
*.aux                                                                                                                                                                                        
*.bbl                                                                                                                                                                                        
*.blg
*.out
*.log

*.xmpi
